.container{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(169, 211, 43);
   display: flex;
   flex-wrap: wrap;
   background-image: url("https://img.freepik.com/premium-photo/abstract-black-textured-background-with-scratches_130265-12474.jpg");
   background-size: cover;
   justify-content: space-evenly;
}
.box{
    height: 100px;
    width: 100px;
    background-color: dimgrey;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 50px;
    text-align: center;
}
.box:hover{
    box-shadow: 0 0 15 20;
    box-shadow: 10px 0px 25px 8px rgb(180, 32, 32);
    color: chartreuse;
}